.form {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-button {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 2rem auto 4rem auto;
  padding: 1rem;
}
